body { background-image:url(https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiemrzjgJbhAhV3IjQIHZz1CDUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.ft.com%2Fcontent%2F849610c2-a096-11e8-85da-eeb7a9ce36e4&psig=AOvVaw2RhjJBj7SUinaWUwluekO4&ust=1553352937903247);
  margin: 30px auto;
  max-width: 1000px;
  font-family: "roboto","Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

h1 {
  padding: 20px 0px 10px 0px;
}
