*{
	margin: 0;
	padding:0;
}

body{
	width: 100%;
	background-color: white;
	text-align: left;

}

.container{
width: 70%;
background-color: white;
font-family: "raleway", sans-serif;
font-size: 16;
margin: auto;
padding: auto;
text-align: left;
}
ul{background-color: #AF7AC5;
	width:20%;
}
