*{
	margin: 0;
	padding:0;
}

body{
	width: 100%;
	background-color: #5B2C6F
}
.container{
width: 80%;
background-image:<img src="https://static.wixstatic.com/media/208c39_ac732b32e79b4e9c9a478f871716d7bc~mv2_d_3272_2827_s_4_2.jpg/v1/fill/w_461,h_395,al_c,q_80,usm_0.66_1.00_0.01/IMG_1750.webp"
font-family: "raleway", sans-serif;
margin: auto;
padding: 20%;

}
ul{background-color: #AF7AC5;
	width:20%;
}
